{% extends 'base.html.twig' %}

{% block title 'Ajoutez une date'%}


{% block body %}
    <div class="container mt-4">
        <h1>Editez la reunion</h1>
        {{ include ('admin/meeting_date/__form.html.twig') }}
    </div>
{% endblock %}



