{% extends 'base.html.twig' %}

{% block title 'Editez une reunion'%}


{% block body %}
    <div class="container mt-4">
        <h1>Editez les dates</h1>
        {{ include ('admin/meeting_date/__form.html.twig', {button: 'Editer'}) }}
    </div>
{% endblock %}



