{% extends 'base.html.twig' %}

{% block title %}New MeetingDate{% endblock %}

{% block body %}
    <h1>Create new MeetingDate</h1>

    {{ include('meeting_date/_form.html.twig') }}

    <a href="{{ path('meeting_date_index') }}">back to list</a>
{% endblock %}
