{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-9">
            {{ form_row(form.imageFile, {
                attr: {
                    placeholder: 'Select a profil image'
                }
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            {{ form_row(form.description) }}
        </div>
    </div>
{{ form_end(form) }}