{% extends 'base.html.twig' %}

{% block title 'Mon compte' %}


{% block body %}
    <div class="container jumbotron" style="margin-top: 5cm">
        <p>
            {{ user.username }}
        </p>
        <p>
            {{ user.email }}
        </p>
        <form action="{{ path('upload_test') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
            <button type="submit" class="btn btn-info">Upload</button>
        </form>
    </div>
{% endblock %}