{%  extends 'base.html.twig' %}
{% block title 'Accueil'%}
{% block body %}
    <div class="container mt-4">
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam blanditiis commodi, consequuntur eius incidunt inventore iure laboriosam magni nemo neque optio, quaerat quia quisquam quod recusandae reprehenderit sapiente, soluta?</p>
    </div>
{% endblock %}