.profile-card {
  background: black;
  height: 200px;
  margin: auto;
  color: white;
  border-radius: 25px;
  width: auto;

  h2 {
    color: white;
    position: absolute;
    left: 5%;
    top: 60%;
  }

  p {
    color: white;
    position: absolute;
    left: 10%;
    top:80%;
  }

  &__img {
    height: 150px;
    width: 150px;
    border-radius: 50%;


    img {
      border-radius: 50%;
      position: absolute;
      top: 5%;
      left:20%;
      z-index: 1;
      max-width: 90px;
      opacity: 1;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
  }
}


.meeting-date-card {
  border-radius: 0 18px 18px 0 ;
  border-left: darkcyan 8px solid;
  // Box shadow generator
  width: 1000px;

  .header {
    background: white;
  }

  .title {
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    margin-bottom: 20px;
  }

  .trash {
    margin-top: -0.4cm;
    margin-right: -0.25cm;
  }

  .left_border {
    border-right: black 3px solid;
  }

  .date {
    padding-top: 5px;

    &_hour {
      margin-top: -0.5cm;
      color: black;
    }
    &_title {
      font-weight: bold;
      color: black;
    }
  }
}

.meeting-h1 {
  font-size: 30pt;
  margin-bottom: 2cm;
  @media only screen and (max-width: 600px) {
    font-size: 18pt;
  }
}

.meeting-date-info {
  .title {
    font-size: 30pt;
  }

  // For mobile device
  @media only screen and (max-width: 600px) {
    width: auto;
    margin-left: auto;
    margin-right: auto;

    .title {
      font-size: 17pt;
      font-weight: bold;

    }
  }
}

.meeting-date-card-availability {
  width: 400px;
  .title{
    font-size: 20pt;
    font-weight: bold;

    &__min{
      font-size: 13pt;
    }
  }

  a {
    margin-top: 10px;
  }

  // For mobile device
  @media only screen and (max-width: 600px) {
    width: 290px;
    .title {
      font-size: 16pt;
    }
  }
}


.pp-card{
  width: 300px;
  margin-bottom: 1cm;

  .username {
    background: black;
    color: white;
    text-align: center;
    font-size: 20pt;
    border-radius: 0 0 5px 5px;
  }

  ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0;
    padding-left: -8px;

    li {
      display: block;
      float: left;

      a {
        padding-left: 8px;
      }
    }
  }

  // For mobile device
  @media only screen and (max-width: 600px) {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
