{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <row class="header">
            <columns>
            </columns>
        </row>
        {% block content %} {% endblock %}
        <row class="footer">
            <columns>
                <p>Meeting planner</p>
            </columns>
        </row>
        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div>
                        Don't reply please.
                    </div>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}