{% extends 'email/email_base.html.twig' %}

{% block content %}
    <row class="welcome">
        <columns>
            <spacer size="35"></spacer>
            <h1>
                <center>
                    Nice to meet you {{ email.toName }}!
                </center>
            </h1>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p>
                Welcome to <strong>Meeting data</strong> !
                Get started and create your first meeting.
            </p>
            <button href="{{ url('home') }}">Get started !</button>
        </columns>
    </row>
{% endblock %}